.highlights {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlights .c { color: #586E75 } /* Comment */
.highlights .err { color: #93A1A1 } /* Error */
.highlights .g { color: #93A1A1 } /* Generic */
.highlights .k { color: #859900 } /* Keyword */
.highlights .l { color: #93A1A1 } /* Literal */
.highlights .n { color: #93A1A1 } /* Name */
.highlights .o { color: #859900 } /* Operator */
.highlights .x { color: #CB4B16 } /* Other */
.highlights .p { color: #93A1A1 } /* Punctuation */
.highlights .cm { color: #586E75 } /* Comment.Multiline */
.highlights .cp { color: #859900 } /* Comment.Preproc */
.highlights .c1 { color: #586E75 } /* Comment.Single */
.highlights .cs { color: #859900 } /* Comment.Special */
.highlights .gd { color: #2AA198 } /* Generic.Deleted */
.highlights .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlights .gr { color: #DC322F } /* Generic.Error */
.highlights .gh { color: #CB4B16 } /* Generic.Heading */
.highlights .gi { color: #859900 } /* Generic.Inserted */
.highlights .go { color: #93A1A1 } /* Generic.Output */
.highlights .gp { color: #93A1A1 } /* Generic.Prompt */
.highlights .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlights .gu { color: #CB4B16 } /* Generic.Subheading */
.highlights .gt { color: #93A1A1 } /* Generic.Traceback */
.highlights .kc { color: #CB4B16 } /* Keyword.Constant */
.highlights .kd { color: #268BD2 } /* Keyword.Declaration */
.highlights .kn { color: #859900 } /* Keyword.Namespace */
.highlights .kp { color: #859900 } /* Keyword.Pseudo */
.highlights .kr { color: #268BD2 } /* Keyword.Reserved */
.highlights .kt { color: #DC322F } /* Keyword.Type */
.highlights .ld { color: #93A1A1 } /* Literal.Date */
.highlights .m { color: #2AA198 } /* Literal.Number */
.highlights .s { color: #2AA198 } /* Literal.String */
.highlights .na { color: #93A1A1 } /* Name.Attribute */
.highlights .nb { color: #B58900 } /* Name.Builtin */
.highlights .nc { color: #268BD2 } /* Name.Class */
.highlights .no { color: #CB4B16 } /* Name.Constant */
.highlights .nd { color: #268BD2 } /* Name.Decorator */
.highlights .ni { color: #CB4B16 } /* Name.Entity */
.highlights .ne { color: #CB4B16 } /* Name.Exception */
.highlights .nf { color: #268BD2 } /* Name.Function */
.highlights .nl { color: #93A1A1 } /* Name.Label */
.highlights .nn { color: #93A1A1 } /* Name.Namespace */
.highlights .nx { color: #555 } /* Name.Other */
.highlights .py { color: #93A1A1 } /* Name.Property */
.highlights .nt { color: #268BD2 } /* Name.Tag */
.highlights .nv { color: #268BD2 } /* Name.Variable */
.highlights .ow { color: #859900 } /* Operator.Word */
.highlights .w { color: #93A1A1 } /* Text.Whitespace */
.highlights .mf { color: #2AA198 } /* Literal.Number.Float */
.highlights .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlights .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlights .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlights .sb { color: #586E75 } /* Literal.String.Backtick */
.highlights .sc { color: #2AA198 } /* Literal.String.Char */
.highlights .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlights .s2 { color: #2AA198 } /* Literal.String.Double */
.highlights .se { color: #CB4B16 } /* Literal.String.Escape */
.highlights .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlights .si { color: #2AA198 } /* Literal.String.Interpol */
.highlights .sx { color: #2AA198 } /* Literal.String.Other */
.highlights .sr { color: #DC322F } /* Literal.String.Regex */
.highlights .s1 { color: #2AA198 } /* Literal.String.Single */
.highlights .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlights .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlights .vc { color: #268BD2 } /* Name.Variable.Class */
.highlights .vg { color: #268BD2 } /* Name.Variable.Global */
.highlights .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlights .il { color: #2AA198 } /* Literal.Number.Integer.Long */
